<html>
<head>
		<title>Searchbook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<script type="text/javascript"></script>
	</head>
	<body>
	
	    <!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/index" class="logo"><strong>Search</strong>book</a>
								</header>
<h1>Alternative Covers</h1>
	<p>If you are uncomfortable with the idea of people seeing you read a particular book in public, you can change the cover of your book to one of our alternative covers listed below.</p>
	<form>
	    <input type="button" value="Print All" onclick="window.print()" />
	    </form>
	    
<div id = "covers">
<div id = "size">
    
<a href="http://web-apps-czern.c9users.io:8080/images/1984.jpeg"><img class="images" src="images/1984.jpeg" alt=""/></a>
<a href="http://web-apps-czern.c9users.io:8080/images/a%20christmas%20carol.jpg"><img class="images" src="images/a christmas carol.jpg" alt=""/></a>
<a href="http://web-apps-czern.c9users.io:8080/images/Arabian%20Nights.jpeg"><img class="images" src="images/Arabian Nights.jpeg" alt=""/></a>
<!--<a href="#"><img class="images" src="images/Little Woman.jpeg" alt=""/></a>-->
<a href="http://web-apps-czern.c9users.io:8080/images/Pride%20and%20Prejudice.jpeg"><img class="images" src="images/Pride and Prejudice.jpeg" alt=""/></a>
<a href="http://web-apps-czern.c9users.io:8080/images/tom%20sawyer.jpg"><img class="images" src="images/tom sawyer.jpg" alt=""/></a>
<a href="http://web-apps-czern.c9users.io:8080/images/wizard%20of%20oz.png"><img class="images" src="images/wizard of oz.png" alt=""/></a>
<a href="http://web-apps-czern.c9users.io:8080/images/wuthering%20heights.jpg"><img class="images" src="images/wuthering heights.jpg" alt=""/></a>

</div>
</div>
                         </div>
					</div>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
					</body>
					</html>